/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	/* background-color: #e5e5e5; */
	background-image: linear-gradient(rgb(138, 242, 169), rgb(188, 242, 195), rgb(186, 244, 188), rgb(202, 242, 193));
	font-family: 'Roboto', sans-serif;
}